EmpiresInSpace2/Server/transfer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transfer">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sender">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="shipId" type="xs:integer" />
              <xs:element minOccurs="0" maxOccurs="1" name="colonyId" type="xs:integer" />
              <xs:element name="goods">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="good">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="goodsId" type="xs:integer" />
                          <xs:element name="amount" type="xs:nonNegativeInteger" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="receiver">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="1" name="shipId" type="xs:integer" />
              <xs:element minOccurs="0" maxOccurs="1" name="colonyId" type="xs:integer" />
              <xs:element name="goods">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="good">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="goodsId" type="xs:integer" />
                          <xs:element name="amount" type="xs:nonNegativeInteger" />
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>