EmpiresInSpace/Server/ShipTemplate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShipTemplate">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ShipTemplateId" type="xs:integer" />
        <xs:element name="ShipTemplateHullId" type="xs:unsignedShort" />
        <xs:element name="name" type="xs:string" />
        <xs:element name="gif" type="xs:string" />
        <xs:element name="shipHullsImage" type="xs:integer" />        
        <xs:element name="modulePositions">
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="modulePosition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="posX" type="xs:unsignedByte" />
                    <xs:element name="posY" type="xs:unsignedByte" />
                    <xs:element name="moduleId" type="xs:unsignedShort" />
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>